*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
} 
body{
  padding-top: 80px;
  display: flex;
  justify-content: center;
   height: 100vh;
  background-image: linear-gradient(to right,red,blue);
}
header{
   display: grid;
   grid-template-columns: 1fr 200px;
    align-items: center;
  position: absolute;
  top: 0; left: 0; right: 0;
   background-color: black;
  height: 75px;border-radius: 4px;
  border:  2px solid black;
}
.title{
  font-size: 2rem;
}
.container{
  display: grid;
   
}
 .display-card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 25px;
 }
button{
  padding: 20px;
  border-radius: 4px;
  margin-right: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: transparent;
   
}
button:hover{
  transform: scale(1.1);
}